<%= render "layouts/nav"%>

<section>
    <h1>
        Conquiste o emprego dos seus sonhos
    </h1>
</section>

<div>
     <%@add_recently.each do |i|%>
    <li><%=i.name%></li>
    <li><%=i.category.label%></li>
    <%end%>
</div>

<%# Partials permite a reutilização de código de views %>

