name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    
    services:
      postgres:
        image: postgres:16
        ports:
          - "5432:5432"
        env:
          POSTGRES_DB: rails_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3.0' # Verifique se sua versão é essa mesmo
          bundler-cache: true

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libpq-dev

      - name: Setup Database
        env:
          
          DATABASE_URL: postgres://postgres:password@127.0.0.1:5432/rails_test
          RAILS_ENV: test
        run: bin/rails db:prepare

      - name: Run tests
        env:
          DATABASE_URL: postgres://postgres:password@127.0.0.1:5432/rails_test
          RAILS_ENV: test