<header>
    <nav>
        <div>
                <img src="" alt="">
                <h1>Jobmine</h1>
        </div>
        <div>Home</div>
        <div>Sobre</div>
    </nav>
</header>

<main>
    <%=yield%>
</main>

<footer>
        <h3>Eu sou seu rodapé</h3>
</footer>